.element__heart-icon{
    min-width: 21px;
    min-height: 19px;
    padding: 0;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 5px 3px 0 0;
    background-color: unset;
    
}

.element__heart-icon:hover{
    cursor: pointer;
    opacity: .5;
}

