.page{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", Arial, sans-serif;
    
}

