.form__line{
    max-width: 358px;
    width: 358px;
    opacity: 0.2;
    border-top: 1px solid #000000;
    margin: 0 auto;
    margin-top: 13.26px;
    margin-bottom: 30px;
}

.form__line:last-of-type{
    margin-bottom: 48px;
}