.profile__subtitle{
    margin: 0;
    padding: 0;
    margin-top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 415px;
    width: 100%;
}

@media screen and (max-width: 550px){
    .profile__subtitle{
        margin-top: 14px;
       margin-bottom: 36px;
    }
}

