.form__input{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-width: 358px;
    width: 100%;
    margin: 0 auto;
    align-self: flex-end;
    padding: 0;
    border: none;
}

@media screen and (max-width: 550px){
    .form__input{
        max-width: 238px;
        width: 100%;
    }
}