.popup__close-icon{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(../../../images/Close\ Icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: unset;
    position: absolute;
    top: -40px;
    right: -40px;
    transition-duration: .4s;
}

.popup__close-icon:hover{
    cursor: pointer;
    opacity: 0.6;
    transform: rotate(45deg);
}