.profile__add-button{
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: #000;
    background-image: url(../../../images/add.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    border: 2px solid #FFF;
    border-radius: 2px;
    margin-top: 38px;
    
}

.profile__add-button:hover{
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 550px){
    .profile__add-button{
        margin: 0;
        width: 100%;
    }

}

