.profile__avatar{
    max-width: 120px;
    max-height: 120px;
    margin-right: 26px;
    
}

@media screen and (max-width: 425px){
    .profile__avatar{
        margin: 0 auto;
        margin-bottom: 26.25px;
        
    }
}