.profile__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 415px;
    


}

@media screen and (max-width: 550px){
    .profile__info{
        margin-bottom: 36px;
        margin: auto;
        justify-content: center;
    }
}

