@import url(../footer/__copyright/footer__copyright.css);

.footer{
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    margin-top: 68px;
    margin-bottom: 60px;
    
}

@media screen and (max-width: 550px){
    .footer{
        margin: 50px 19px 36px;
    }
}