@import url(../element/__content/element__content.css);
@import url(../element/__image/element__image.css);
@import url(../element/__name/element__name.css);
@import url(../element/__heart-icon/element__heart-icon.css);
@import url(../element/__heart-icon/_active/element__heart-icon_active.css);
@import url(../element/__delete-button/element__delete-button.css);


.element{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    height: 361px;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
}

@media screen and (max-width: 550px){
    .element{
        margin-bottom: 20px;

    }

    .element:last-of-type{
        margin-bottom: 0;
    }
}