@import url(../element/__content/element__content.css);
@import url(../element/__image/element__image.css);
@import url(../element/__rectangle/element__rectangle.css);
@import url(../element/__name/element__name.css);
@import url(../element/__heart-icon/element__heart-icon.css);


.element{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    
}

@media screen and (max-width: 550px){
    .element{
        margin-bottom: 20px;

    }

    .element:last-of-type{
        margin-bottom: 0;
    }
}