.form__input{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-width: 358px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    align-self: flex-end;
    padding: 0;
    padding-bottom: 13.26px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.form__input:last-of-type{
    margin-bottom: 40px;
}

@media screen and (max-width: 550px){
    .form__input{
        max-width: 238px;
        width: 100%;
    }

    .form__input:last-of-type{
        margin-bottom: 45px;
    }
}